<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>Daniel Falcão</title>
</head>
<body>
    <header>
        <h1>Daniel Falcão</h1>
        <nav>
            <ul>
                <li><a href="#projetos">Meus projetos</a></li>
                <li><a href="#tecnologias">Tecnologias</a></li>
                <li><a href="#contato">Entre em contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="projetos">
            <h1>Meus projetos :</h1>
            <a id="first-project" target="_blank" href="https://danielfalcaovt.github.io/projetoapple/">    
                <div class="container">
                    <div class="container-img">
                        <img src="images/ProjetoSiteApple.PNG" alt="Projeto recriaçao do site da apple">
                    </div>
                    <div class="container-info">
                        <h2>Recriação do site da Apple Inc.</h2>
                        <span>
                            <h2>HTML, CSS, JS, JQUERY</h2>
                        </span>
                    </div>
                    
                </div>
            </a>
            <a id="second-project" href="https://danielfalcaovt.github.io/BrokenHeart">
                <div class="container second-project">
                    <div class="container-img">
                        <img src="images/ProjetoSiteApple.PNG" alt="Projeto recriaçao do site da apple">
                    </div>
                    <div class="container-info">
                        <h2>Recriação do site da Apple Inc.</h2>
                        <span>
                            <h2>HTML, CSS, JS, JQUERY</h2>
                        </span>
                    </div>
                
                </div>
            </a>
        </section>

        <section id="tecnologias">
            <h1>Tecnologias que eu utilizo :</h1>
        </section>

        <section id="contato">
            <h1>Minhas informações de contato :</h1>
        </section>

    </main>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>
</html>